.head1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(180, 24, 24);
    padding-left: 10em;
    padding-right: 10em;
    color: white;
    box-sizing: border-box;
   font-weight: 900;
}
.head1 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.head1 ul li{
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}
.head1 a{
    color: white;
    text-decoration: none;
}
.head1 ul li :hover{
    color: rgb(7, 7, 7);
}
    .head1 ul li:hover{
        
    transform: scale(1.05);
    transition: 0.3s ease;
    
}
.head2{
    display: flex;
    justify-content: space-between;
    padding-left: 5em;
    padding-right: 5em;
    align-items: center;
    background-color: rgb(229, 238, 244);
}
.telephone{
    display: flex;
    align-items: center;
}
.telephone img{
    margin: 10px;
}
#call:hover{
    color: brown;
    transform: scale(1.2);
    transition: 0.3s ease;
}
.head2 ul{
    display: flex;
}
.head2 a{
    color: black;
    
    margin-left: 15px;
}
.head2 li{
    list-style: none;
    font-weight: 600;
}
.head2 ul li :hover{
    color: red;
}
.head2 ul li:hover{
transform: scale(1.05);
    transition: 0.3s ease;
}
.head2{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}
/* app-home{
    z-index: 11;
    
} */
.search button:hover{
background-color: brown;
}
.head3 img{
    
    padding: 10px;
    border-radius: 5px;
}
.head3 img:hover{
    transform: scale(1.2);
transition: 0.3s ease;
    
}
#menu{
    background-color: rgb(243, 114, 114);
}
#menu:hover{
    background-color: darkred;
}
.sel{
    border: solid;
    border-radius: 10px;
    padding: 2px;
}
.sel:hover{
    background-color: rgb(214, 220, 220);
}
.head3{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    align-items: center;
    background-color: aliceblue;
    
}
.head3 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head3 select,select:hover{
    background-color: aliceblue;
}
.head3 select,select:focus{
    outline: none;
    border: none;
    padding-left: 20px;
    background-color: aliceblue;
    
    
}



#header1{
    height: 40px;
}
.head3 input,button{
border-radius: 5px;
border: none;
padding: 0px 20px 0 20px;

}
.head3 input:focus{
    outline: none;
}
.search{
    border: 2px solid lightgrey;
    border-radius: 5px;
}






#copyright{
    text-align: center;
}
footer{
    background-color: rgb(34, 34, 34);
    color: white;
}
.foot{
    display: flex;
    justify-content: center;
    margin: auto;
}
.foot1 h5{
    text-align: center;
    font-size: larger;
    margin-bottom: 10px;
}
.foot1{
    width: 25%;
    margin: 2em;
    padding: 2em;
}
#foot1{
    text-align: center;
}
footer p,li,a{
    margin: 3px;
    color: rgb(179, 183, 186);
    list-style: none;
    text-decoration: none;
}
#foot1:hover{
    color: brown;
}
#foot1 a:hover{
    color: brown;
}
#foot2:hover{
    color: brown;
}