<div class="banner">
    <div>
        <img src="../../assets/images/image1/Home/banner.webp" alt="">
    </div>
</div>
<div class="sec">

    <div class="part">
        <div>
            <h2>Shop</h2>
        </div>
        <div>
            <h3></h3>
        </div>
    </div>

    <div class="tray1">
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-3-320x320 (1).webp" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <div class="pricetag">

                </div>
                <p>price</p>
            </div>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-1-320x320.png" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/bag-6-320x320.png" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/bag-5-320x320.webp" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
    </div>
    <div class="tray1">
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/travel-bag-1-320x320.png" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/bag-1-320x320.png" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/bag-3-320x320.webp" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/bag-2-320x320.webp" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
    </div>
    <div class="tray1">
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/bag-1-320x320.png" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/bag-6-320x320.png" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-4-320x320.png" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-1-320x320.png" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>
            </div>
        </div>
    </div>
    <div class="tray1">
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/bag-6-320x320.png" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/bag-2-320x320.webp" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/bag-7-320x320.png" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/travel-bag-2-320x320.png" alt="">
            <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
        </div>
    </div>
</div>