<div class="section">
        <div class="mainimg">
            <img src="../../assets/images/image1/Home/main image.png" alt="">
        </div>
    </div>

    <div class="sec">
        <div class="part">
            <div>
                <h2>HOT PRODUCTS</h2>
            </div>
            <div>
                <h3>Shoulder Bags</h3>
            </div>
        </div>

        <div class="tray1">
            <div class="tray-design">
                <img src="../../assets/images/image1/Home/bag-1-320x320.png" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
            <div class="tray-design">
                <img src="../../assets/images/image1/Home/bag-2-320x320.webp" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
            <div class="tray-design">
                <img src="../../assets/images/image1/Home/bag-3-320x320.webp" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
            <div class="tray-design">
                <img src="../../assets/images/image1/Home/bag-4-320x320.webp" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
        </div>
        <div class="tray1">
            <div class="tray-design">
                <img src="../../assets/images/image1/Home/bag-5-320x320.webp" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
            <div class="tray-design">
                <img src="../../assets/images/image1/Home/bag-6-320x320.png" alt="">
               <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
            <div class="tray-design">
                <img src="../../assets/images/image1/Home/bag-7-320x320.png" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
            <div class="tray-design">
                <img src="../../assets/images/image1/Home/travel-bag-2-320x320.png" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
        </div>
    </div>
    
    <div class="vid">
        <video autoplay loop muted playsinline>
            <source src="../../assets/images/image1/Home/vid-1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="centered-text">
            <h1>Choose Before its too Late</h1>
            <button id="buy-now">Buy Now</button>
        </div>
    </div>
    <div class="sec">
        <div class="part">
            <div>
                <h2>TRENDINGS PRODUCTS</h2>
            </div>
            <div>
                <h3>Backpacks</h3>
            </div>
        </div>

        <div class="tray1">
            <div class="tray-des">
                <img src="../../assets/images/image1/Home/backpack-1-320x320.png" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
            <div class="tray-des">
                <img src="../../assets/images/image1/Home/backpack-2-320x320.png" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
            <div class="tray-des">
                <img src="../../assets/images/image1/Home/backpack-3-320x320.webp" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
            <div class="tray-des">
                <img src="../../assets/images/image1/Home/backpack-4-320x320.png" alt=""><div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
        </div>
        
    </div>
    <div class="banner">
        <div>
            <img src="../../assets/images/image1/Home/banner.webp" alt="">
        </div>
    </div>

    <div class="sec">
        <div class="part">
            <div>
                <h2>MOST LOVED PRODUCTS</h2>
            </div>
            <div>
                <h3></h3>
            </div>
        </div>

        <div class="tray1">
            <div class="tray-design">
                <img src="../../assets/images/image1/Home/travel-bag-1-320x320.png" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
            <div class="tray-design">
                <img src="../../assets/images/image1/Home/bag-6-320x320.png" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
            <div class="tray-design">
                <img src="../../assets/images/image1/Home/bag-3-320x320.webp" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
            <div class="tray-design">
                <img src="../../assets/images/image1/Home/backpack-3-320x320 (1).webp" alt="">
                <div class="pricetag">
                <h4>bag name</h4>
                <p>price</p>

            </div>
            </div>
        </div>
    </div>