.part {
    display: flex;
    justify-content: space-evenly;
    gap: 50%;
}
.backgrd{
    background-image: url('../../assets/images/istockphoto-1321859346-612x612.jpg'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* background: linear-gradient(to bottom right, #e6beb42f, #9c898b1d);   */
}
#homehead{
    color: white;
    font-size: 30px;
}
.tray1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tray1 img {
    height: 30vh;
}
.tray1 img:hover{
transform: scale(1.2);
transition: 1s ease;
}
.tray-des:hover{
    border: solid 3px rgb(185, 31, 31);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}


h4,
p {
    text-align: center;
}

.sec {
    margin: 40px;
}
.pricetag:hover{
    background-color: rgb(228, 233, 233);
    border-radius: 30PX;
    transition: 0.5s;
}
.tray-design{
    border: solid 2px rgba(139, 138, 138, 0.186);
    margin: 10px;
    border-radius: 5px;
    background-color: aliceblue;
}
.pricetag{
    background-color:rgb(228, 233, 233);   
}
.pricetag:hover{
    background-color: rgb(242, 163, 161); 
    transition: 0.5s;
}