
<div class="backgrd">
<div class="sec">
    <div class="part">
        <div>
            <h2 id="homehead">Category: Backpacks</h2>
        </div>
        <div>
            <h3></h3>
        </div>
    </div>

    <div class="tray1">
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-4-320x320.png" alt="">
            <h4>bag name</h4>
            <p>price</p>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-3-320x320.webp" alt="">
            <h4>bag name</h4>
            <p>price</p>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-2-320x320.png" alt="">
            <h4>bag name</h4>
            <p>price</p>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-1-320x320.png" alt="">
            <h4>bag name</h4>
            <p>price</p>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-4-320x320.png" alt="">
            <h4>bag name</h4>
            <p>price</p>
        </div>
    </div>
    <div class="tray1">
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-2-320x320.png" alt="">
            <h4>bag name</h4>
            <p>price</p>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-1-320x320.png" alt="">
            <h4>bag name</h4>
            <p>price</p>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-4-320x320.png" alt="">
            <h4>bag name</h4>
            <p>price</p>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-3-320x320 (1).webp" alt="">
            <h4>bag name</h4>
            <p>price</p>
        </div>
        <div class="tray-design">
            <img src="../../assets/images/image1/Home/backpack-4-320x320.png" alt="">
            <h4>bag name</h4>
            <p>price</p>
        </div>
    </div>
</div></div>