.home-container {
    margin: 20px 20vw;
  }
  form{
    margin-top: 5vh;
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  textarea{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0e0e0e;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #39393a;
  }
  .back{
    /* background-image: url(../../assets/images/download1.jpeg); */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
  }
  *{
    margin: 0;
  padding: 0;
}