<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

</head>

<body>
    <div class="container1">
        <div class="myaccount">
            <h1>Login to Your Account</h1>
        </div>
        <div class="login-form">

            <h2>.</h2>
            <form id="loginForm">
                <label for="username">Username or email address *</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password *</label>
                <input type="password" id="password" name="password" required>

                <div class="remember-me">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Remember me</label>
                </div>

                <button type="submit">Log in</button>

                <a class="lost-password">Lost your password?</a>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var username = document.getElementById('username').value;
            window.location.href = 'account.html?username=' + encodeURIComponent(username);
        });
    </script>
</body>

</html>